.fButton {
    -fx-font-size: large;
    -fx-text-fill: black;
    -fx-background-color: #fbe12a;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.fButton:pressed {
    -fx-background-insets: 2;
}

.kButton {
    -fx-font-size: large;
    -fx-text-fill: white;
    -fx-background-color: lightblue;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.kButton:pressed {
    -fx-background-insets: 2;
}

.blackButton {
    -fx-font-size: large;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.blackButton:pressed {
    -fx-background-insets: 2;
}

.grayButton {
    -fx-font-size: large;
    -fx-text-fill: black;
    -fx-background-color: #d8d3bf;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.grayButton:pressed {
    -fx-background-insets: 2;
}

.redButton {
    -fx-font-size: large;
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-text-alignment: center;
    -fx-font-weight: bolder;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.redButton:pressed {
    -fx-background-insets: 2;
}

.fLabel {
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-font-size: medium;
    -fx-font-family: 'JetBrains Mono';
}

.kLabel {
    -fx-text-fill: lightblue;
    -fx-font-weight: bold;
    -fx-font-size: medium;
    -fx-font-family: 'JetBrains Mono';
}

.buttonGrid {
    -fx-background-color: #3a3a38;
    -fx-hgap: 12;
    -fx-vgap: 12;
    -fx-padding: 20 20 20 20;
}

.lcdPanel {
    -fx-background-color: #283f37;
    -fx-padding: 40 20 40 20;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

.lcd {
    -fx-font-weight: normal;
    -fx-font-size: 24;
    -fx-text-fill: lightgreen;
    -fx-font-family: 'Neat LCD';
}

.dotLcd {
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: lightgreen;
    -fx-font-family: 'Neat LCD';
}

.switchPanel {
    -fx-font-size: x-small;
    -fx-background-color: #363942;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-padding: 15 15 15 15;
}

.root {
    -fx-background-color: #5c5c5c;
}

.titleLabel {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-background-color: #48474c;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 15;
    -fx-background-insets: 0;
    -fx-font-family: 'JetBrains Mono';
}

.registerAndStackPanel {
    -fx-background-color: #363942;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-padding: 10 10 10 10;
}

.registerLabel {
    -fx-font-weight: bolder;
    -fx-font-size: medium;
    -fx-text-fill: white;
}

.registerContentLabel {
    -fx-font-family: 'JetBrains Mono';
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.registerContentHighlighted {
    -fx-font-family: 'JetBrains Mono';
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.registerContent {
    -fx-font-family: 'JetBrains Mono';
    -fx-background-color: #283f37;
    -fx-text-fill: lightgreen;
    -fx-font-size: 20;
}

.memoryPanel {
    -fx-background-color: #363942;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-padding: 10 10 10 10;
}
